Source: libanyevent-mqtt-perl
Section: perl
Priority: optional
Build-Depends: debhelper (>= 5)
Build-Depends-Indep: perl (>= 5.6.10-12)
Maintainer: Mark Hindess <soft-debian@temporalanomaly.com>
Standards-Version: 3.9.1.0
Homepage: http://search.cpan.org/dist/AnyEvent-MQTT/

Package: libanyevent-mqtt-perl
Architecture: all
Depends: ${perl:Depends}, ${misc:Depends}, libnet-mqtt-perl
Description: AnyEvent::MQTT Perl modules for MQTT protocol with AnyEvent
 AnyEvent modules for working with the MQTT protocol described at
 L<http://mqtt.org>.
